/* 
--- 01 TYPHOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


--- 02 COLORS

DARK MODE:
BG -- #212529
TEXT-COLOR: #ced4da

LIGHT MODE:
BG: #b6b9bd
TEXT-COLOR: #212529

#fe9311
#e67e22
#141414

--- 04 ICONS

--- 05 SHADOWS
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS
11px

--- 07 WHITESPACE 
## padding: 6.4rem 3.2rem;
## 6.4rem (spacing between sections)

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 8px;
}

body {
  font-family: "STIX Two Text";
  line-height: 1.5;
  color: #ced4da;
  background-color: #212529;
}

.main {
  width: 100%;
  padding: 9.6rem 3.2rem;
}

.main-body-container {
  width: fit-content;
  margin: 0 auto;
}

/******** HEADER **********/

.toogle-mode {
  margin-bottom: 3.2rem;
  font-size: 3.2rem;
  background-color: #343a40;
  padding: 0.8rem 1.6rem;
  border-radius: 11px;
}

.search-container {
  background: transparent;
  padding: 1rem 2.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  color: #ced4da;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.3);
  border-radius: 11px;
  border: 1px solid #ced4da;
  margin-bottom: 3.2rem;
}

.search-icon {
  font-size: 2.4rem;
  color: #ced4da;
}

.input-name {
  background: none;
  outline: none;
  border: none;
}

.input-name::placeholder {
  font-size: 1.2rem;
  color: #ced4da;
}

.button-container {
  text-align: center;
}

.btn {
  padding: 1rem 3.2rem;
  background-color: #a15818;
  border: none;
  border-radius: 5px;
  color: #d1d2d4;
  transition: 0.2s;
}

.btn:hover {
  cursor: pointer;
  background-color: #8a4c14;
}

.feature-grid-container {
  margin: 6.4rem 0;
}

.main-container {
  margin-bottom: 4.8rem;
}

.features-section {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: fit-content;
}

.filter {
  font-size: 2.4rem;
}

.filter-form {
  padding: 0.8rem 1.6rem;
  background-color: #ced4da;
}

.grid-section {
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.profile-card {
  background-color: #343a40;
  padding: 3.2rem;
  width: 100%;
}

.profile-name {
  font-size: 3.2rem;
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin-bottom: 3.2rem;
}

.text-section {
  font-size: 1.6rem;
}

.text-section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.text-section ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #212529;
  padding: 1.2rem 1.2rem;
  border-radius: 11px;
}

.text-section button {
  margin: 3.2rem 0;
  background: none;
  border: none;
  outline: none;
  padding: 0 0 -0.8px 0;
  font-size: 1.4rem;
  color: #ced4da;
  cursor: pointer;
}

.text-section button:hover {
  border-bottom: 1px solid #a15818;
  color: #a15818;
}

/********************************/
/******* HIDDEN SECTIONS *******/
/******************************/

.text-section div.hidden-details {
  display: none;
}

body.toogle-light-mode {
  color: #212529;
  background-color: #d1d2d4;
}

body.toogle-light-mode .toogle-mode {
  background-color: #b6b9bd;
}

body.toogle-light-mode .search-icon {
  font-size: 2.4rem;
  color: #212529;
}

body.toogle-light-mode .input-name::placeholder {
  font-size: 1.2rem;
  color: #212529;
}

body.toogle-light-mode .profile-card {
  background-color: #b6b9bd;
  color: #212529;
  padding: 3.2rem;
  width: 100%;
}

body.toogle-light-mode .text-section ul li {
  background-color: #d1d2d4;
}

body.toogle-light-mode .text-section button {
  color: #212529;
}
body.toogle-light-mode .text-section button:hover {
  color: #a15818;
}

.add {
  display: none;
}

/******* MEDIA SCREEN *******/

@media (min-width: 679px) {
  html {
    font-size: 13px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .search-container {
    width: 100%;
  }

  .features-section {
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    width: fit-content;
  }

  .grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 3.2rem;
  }
}

/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
